body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: x-large;
}
nav {
  border: 12px dotted purple;
}

#formcontainer {
  background-color: rgb(247, 247, 162);
  width: 100%;
  padding-left: 500px;
}

td {
  border: 1px solid black;
}

table {
  width: 80%;
  margin: auto;
}

.green{
    background-color: green
}

.yellow{
    background-color: yellow;
}

/* th, td {
    
    height: 70px;
    width: 50%;
    text-align: center;
}



/* TO DO
/* Create functional table at bottom of screen, 
/* style table in css, */
