body {
  background: linear-gradient(#f1cc96, #f3bb03e4) fixed;
  background-size: cover;
  background-attachment: fixed;
  font: 12pt Tahoma, Helvetica, Sans-Serif;
  color: #7b027d;
  margin: 0;
}

#wrapper {
  width: 90%;
  min-width: 600px;
  max-width: 1200px;
  margin: 1em auto;
  background-color: white;
  padding: 0;
  border: solid 1px #000;
  box-shadow: 8px 8px 10px #000;
  border-radius: 3px;
}

header {
  background-color: #a48362;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 24px;
  font-weight: bold;
}

header img {
  margin: 8px;
  vertical-align: middle;
}

/* Styling for the navbar from April project to move to the left */
.flexcontainer {
  display: flex;
}
nav {
  background-color: #a48362;
  width: 200px;
}
/* make sure text color in nav doesn't revert to hideous blue again */
nav a {
  display: block;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 125%;
  color: #7b027d;
  border-bottom: solid 1px #bc9f81;
}
article {
  padding: 0 10px;
}

/* edit margin defaults for headings to prevent excessive element width from previous app*/
h1,
h2 {
  margin: 0;
}

/* remember to add shadows to table and content div for depth */
h1 {
  font: italic small-caps bold 24px Tahoma Black, Gadget, Sans-Serif;
  text-shadow: -2px -2px 2px #a48362;
  text-align: center;
}

h2 {
  font: italic small-caps bold 18px Tahoma Black, Gadget, Sans-Serif;
  text-shadow: -1px -1px 1px #a48362;
}

p {
  line-height: 1.5;
  margin-top: 0;
}

.raised {
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

/* attempt to use class="centerall" trick from April class in p or div to center
   bulletlist and grades table */

.centerall {
  text-align: center;
  clear: both;
}

/* #formcontainer{} omitted to fit new floating div*/

table {
  font: 12pt Tahoma;
  color: #4c2e16;
  margin: 5em auto;
}
/* table border styles from main omitted for aesthetics*/
th {
  background-color: #7b027d;
  color: white;
  text-align: center;
  padding-right: 10em;
}

th,
td {
  border: solid 1px #7b027d;
  padding: 10px 4px;
}
/* REMEMBER: elements that are meant to change color on an event 
must be styled for that event in CSS! The event coding happens in JS */

/* colors for table grade post calculation. use CLASSES per JC */
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orangered;
}

.red {
  background-color: red;
}
.brown {
  background-color: #b4601c;
}

footer {
  background-color: #a48362;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  padding: 8px 0;
}
